.story-card {
  margin-top: 1rem;
  margin-left: 1rem; 
  padding-top: 1rem;
}

.image-header-card {
  width: 20vw;
  height: 20vh;
  border-radius: 10%;
  display: block;
  object-fit: cover;
  border: solid 1px var(--main-grey);
}

.story-content-card {
  display: flex;
  margin-top: 1rem;
}

.story-text-container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 1rem;
  width: 216px;
}

.story-title-card {
  color: var(--main-green);
  text-decoration: none;
}

.description-text-card {
  color: var(--main-grey);
  font-size: small;

