.story-card {
  margin-top: 1rem;
  padding-top: 1rem;
}

.image-header-card {
  width: 35%;
  border-radius: 10%;
}

.story-content-card {
  display: flex;
  align-items: flex-start;
  /* align-content: flex-start; */
}

.story-title-card {
  color: green;
  margin-top: 0;
  margin-left: 0.5rem;
}

.story-description-card {
  margin-left: -14rem;
  margin-top: 24px;
}

.description-text-card {
  color: var(--main-grey);

}




