.story-page-image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.story-page-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.story-page-title-profile-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story-page-title-profile-image hr {
  border: solid 1px var(--main-grey);
}

.story-page-title {
  margin-left: 1rem;
  color: var(--main-green);
}

