.search-bar i {
  position: absolute;
}
.input-field {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 10rem;
  border-color: var(--main-grey);
}

.search-icon {
  background: url("./../../assets/icons/searchIcon.svg");
  margin-top: 0.3rem;
  margin-left: 17rem;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  background-repeat: no-repeat;
}
