/* Components */
@import url("./Navbar.css");
@import url("./SearchBar.css");
@import url("./Recording.css");


:root {
  --main-orange: #ef6248;
  --main-grey: #232323;
  --main-green: #1f9397;
  --main-white: white;
}

