/* Components */
@import url("./../components/Navbar/Navbar.css");
@import url("./../components/SearchBar/SearchBar.css");
@import url("./../components/Recording/Recording.css");


/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

:root {
  --main-orange: #ef6248;
  --main-grey: #424242;
  --main-green: #1f9397;
  --main-white: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {

font-family: roboto-regular;

}