.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-title {
  color: var(--main-grey);
  margin-bottom: 3rem;
  width: 645px;
}

.question-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-button-container h4 {
  color: var(--main-grey);
}

.question-button-yes {
  background: var(--main-green);
  border: solid 1px var(--main-grey);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-right: 5px;
   width: 30rem;
  color: var(--main-white);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.question-button-no {
  background: var(--main-orange);
  border: solid 1px var(--main-grey);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-right: 5px;
  width: 30rem;
  color: var(--main-white);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.question-next-button {
  background: var(--main-green);
  border: solid 1px var(--main-grey);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-right: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15rem;
  color: var(--main-white);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
