.about-stoaree-page-container {
  background-color: #ef6248;
  color: white;
}

.cardDiv {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;
}

.about-stoaree-text-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.stoaree-text {
  align-content: center;
  margin: 10px;
}
